@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');



body{
	background-image:linear-gradient(to right top, #9F5D8B, #76FAFF, #08397B, #D64D23, rgb(248, 159, 25), rgb(232, 243, 79));/*to create color gradient*/
	background-position:centre;
	background-repeat: no-repeat;/*no interruption*/
	background-color:black;/*fallback background colour*/
    height: 100%;/* Full height */
    background-size: cover;/*full background filled*/
	}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1% .25% 1% .25%;
}

a:link{
    text-decoration: none!important;
  }

.main-nav {
    text-align: center;
    font-size: 1.4vw;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
    margin-bottom: 2.5%;
    font-family: Raleway;

}

.main-content{
    background-color:black;
	display: block;
	clear:left;/*clear any floats*/
	text-align:center;
	margin-top:none;
	margin-bottom:5%;
	margin-right:15%;
	margin-left:15%;
	padding-top:2.5%;
    padding-bottom:2.5%;
    min-height: auto;
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

h1, .heading {
	font-family:ultra;
	font-size: 9vw;
	background: -webkit-linear-gradient(#EC88C1,#9F5D8B, #76FAFF, #08397B, #D64D23, rgb(232, 243, 79), rgb(248, 159, 25));
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1%;
}

.section-title {
    font-weight: normal;
    color:white;
    text-align: center;
    font-size: 2vw;
    padding: 1%;
    margin: 0;
    font-family: Raleway;
}

.main-footer {
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, .3);
    text-align: center;
    margin-top: 2.5%;
    color: white;
    min-width: 100%;
    display: flex;
    padding-bottom: 2.5%;
}

.main-footer img {
    height: 5%;
    width: 5%;
    padding: 1%;
}

.socials {
    height: 50%;
    width: 50%;
}

.footer-heading {
    font-family:Ultra;
	font-size: 3vw;
	background: -webkit-linear-gradient(#9F5D8B, #76FAFF, #08397B, #D64D23, rgb(232, 243, 79), rgb(248, 159, 25));
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1%;
    text-align: center;
}
