@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");


* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: rgb(8,127,140);
    background: linear-gradient(90deg, rgba(8,127,140,1) 0%, rgba(134,168,115,1) 55%, rgba(187,159,6,1) 100%);
    background-size: cover;

}


.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1% .25% 1% .25%;

}

a:link{
    text-decoration: none!important;
  }

.main-nav {
    text-align: center;
    font-size: 1.1vw;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    color: white;
}

.main-nav li {
    padding: 0 5%;
}

/* 
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1%;
    color: white;
    text-decoration: none;
}

.nav {
    text-align: center;
    font-size: 1.1vw;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.nav li {
    padding: 0 5%;
} */

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.header {
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 1%;
}

.festival-name {
    text-align: center;
    margin: 0;
    font-size: 4vw;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
    padding: 2.5%;
}

.content-section {
    margin: 5%;
    margin: 0 auto;
}

.ticket-image {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

.ticket-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2vw;
    text-align: center;
}

.ticket-items {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-section {
    max-width: 100%;
    height: auto;
    width: auto; 
}

.section-title {
    font-weight: normal;
    color:white;
    text-align: center;
    font-size: 2vw;
    padding: 1%;
    margin: 0;
}

.ticket-details {
    display: flex;
    align-items: center;
    padding: 2%;
}

.ticket-price {
    flex-grow: 1;
    color: white;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .5% .5%;
    cursor: pointer;
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .1%;
    font-weight: bold;
}

.btn:hover {
    background-color: #2D9CDB;
    color: white;

}

/* cart css*/


.cart-header {
    font-weight: bold;
    font-size: 1.8vw;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: white;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: white;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 1.1em;
}

.btn-purchase {
    margin: 0 auto;
    font-size: 1.75em;
    text-align: center;
}

.main-footer {
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, .3);
    text-align: center;
    margin-top: 2.5%;
    padding-top: 1%;
    color: white;
    min-width: 100%;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer img {
    height: 5%;
    width: 5%;
    padding: 1%;
}