body {  /* created gradient using https://cssgradient.io/  for the backround colour*/
  background: rgb(8, 127, 140);
  background: linear-gradient(90deg, rgba(8, 127, 140, 1) 0%, rgba(134, 168, 115, 1) 55%, rgba(187, 159, 6, 1) 100%);
  font-family: sans-serif, Georgia;/*Prefered fonts */
}
h1{
  text-align: center; /*  center the h1 */
}
nav{
    font-family: Georgia, serif;  /*Prefered fonts */
    padding: 14px 16px;  /*increase size */
    background-color: rgba(8, 127, 140); /*adding blue/green colour*/
    color: white; /*white outline around mav */
}nav a{
  color: white; /* text colour */
  text-decoration: none;
  font-size: 120%;
}
* { /* box format */
  box-sizing: border-box;
}
label {
  display: inline-block;
}
input[type=submit] {
  background-color: rgb(34,139,34); /* changing colour of sumbit button */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right; /* place on right hand side of grid element */
}
input[type=submit]:hover { /* changing colour ofwhen hovered over*/
  background-color: #006400;
}
.container {
  border-radius: 5px;
  background-color:rgb(8, 127, 140);  /* making the box have colour */
  padding: 20px;
  text-align: left; /* make questions start on the left of their elements */
}
.col-25 {  /* grid positioning */
  float: left;
  width: 50%;  /* take up 50% of container */
  margin-top: 6px;
}

.col-75 {   /* grid positioning */
  float: left;
  width: 50%; /* take up 50% of container */
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img{  /* sizing the image */
  width:70%;
  height:40%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#address, #info , #description /* giving more space for the responses to these questions */
{
 min-height: 140px;
 min-width: 100px;
}
